{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html' %}


<div>
<div style="position: absolute;"><span> </span>

</div>
     <img  src="static/images/images_cms-image-000112978.jpg"  style="width: 1500px; height: 600px;" alt="Описание изображения">

</div>

 <style>

      .container {
            text-align: center; /* Центрирует содержимое по горизонтали */
        }

        .btn3 {
            background-color: #4CAF50; /* Зеленый цвет */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn4 {
            background-color: #008CBA; /* Синий цвет */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

        .clas{
            background-color: grey;
        }
    </style>

<h1 class="container"> ШаурмичнаяМОЯ </h1>

<div class="container">
<button class="btn3" onclick="window.location.href='/signupuser'">Регистрация</button>
<button class="btn4" onclick="window.location.href='/loginuser'">Вход</button>
</div>

<h2>Что такое шаверма?</h2>

<h3>
    Шаверма (также известна как шаурма, донер кебаб, гирос, в зависимости от региона и способа приготовления) — это популярное блюдо ближневосточной кухни, которое состоит из тонко нарезанного мяса, обжаренного на вертикальном вертеле, которое затем заворачивается в лаваш или питу с добавлением различных соусов, овощей и приправ.
</h3>

<div style="display: flex; align-items: center;">  <!-- Flexbox контейнер -->
    <img src="static/images/img_1.png" style="width: 630px; height: 550px; border-radius: 50px" alt="Описание изображения">
    <div style="margin-left: 20px;">  <!-- Отступ между изображением и текстом -->
        <h2>Основные компоненты шавермы:</h2>
        <h3>
              Мясо, лаваш или пита, соус, овощи, специи.
       </h3>
    </div>
</div>

<h2>
Шаверма имеет интересную историю. Ее корни уходят в Ближний Восток, и считается, что она возникла в Османской империи.
Первоначально мясо готовили на вертикальном вертеле, и его нарезали тонкими слоями.
Это было похоже на греческий гирос и турецкий донер-кебаб. </h2>

<div style="display: flex; ">  <!-- Flexbox контейнер с выравниванием по центру -->
    <div style="margin-right: 20px;">  <!-- Отступ между текстом и изображением -->
        <h2>Основные компоненты шавермы:</h2>
        <h2>
            Мясо обычно подавали с лепешками и различными соусами, что и дало начало современному варианту шавермы.
            В 20 веке, особенно в 1960-х годах, шаурма начала распространяться
            за пределами своих исторических границ. В Ливане и Сирии блюдо стало
            невероятно популярным, и по мере миграции людей оно попало в другие страны,
            включая Россию и страны Европы.
        </h2>
    </div>
    <img src="static/images/lhgqmwpg277sbin8wcmeq4jqp4ir0ewo.jpg" style="width: 630px; height: 550px; border-radius: 500000px;" alt="Описание изображения">
</div>



<h2>
Мясо обычно подавали с лепешками и различными соусами, что и дало начало современному варианту шавермы.
В 20 веке, особенно в 1960-х годах, шаурма начала распространяться
за пределами своих исторических границ. В Ливане и Сирии блюдо стало
невероятно популярным, и по мере миграции людей оно попало в другие страны,
включая Россию и страны Европы.

Сегодня шаурма — это не просто уличная еда, а культурный феномен, который адаптировался в разных
странах, с добавлением местных ингредиентов и соусов. Она стала ассоциироваться с быстрым
питанием и является любимым блюдом многих людей по всему миру.
Таким образом, шаурма прошла долгий путь, от традиционного блюда до
популярной уличной еды с миллионами поклонников! </h2>

<center>
<img src="static/images/livanskaya-shaurma.jpg" style="width: 1300px; height: 650px; border-radius: 200px" alt="Описание изображения">
</center>

<h2>
Шаверма - это отличный вариант, когда нужно быстро
перекусить, не тратя много времени на поиски и приготовление еды.
Удобно есть в любом месте: Её легко есть на улице, в транспорте или на работе.
Никаких тарелок и приборов не требуется!
Быстро готовится: В большинстве случаев шаурму готовят очень быстро,
так что вам не придется долго ждать свой заказ. </h2>

<center>
<div class="clas">

 <h3>  Волгоградская область, город Шаховская, въезд Гагарина, 41 </h3>

 <h3> 2024 Мой сайт. Все права защищены. </h3>

</div>
</center>
{% endblock %}