{% extends 'main/base.html' %}

{% block content %}
<h1> ГЛАВНАЯ СТРАНИЦА ! </h1>
<h2> У нас вы найдете 16 видов шаурмы: для вегетарианцев, спортсменов,
     с морепродуктами, с тунцом, с креветкам, любимая классика и многое другое.
     В нашем меню представлена собственная рецептура, авторские соусы и
     неповторимый вкус ароматного мяса, благодаря специальному маринаду.
     А также свежие овощи и зелень, которые делают вашу шаурму вкусной и
     питательной. В шаурме содержатся пищевые компоненты, содержащие в себе
     полезные свойства для вашего безопасного завтрака, обеда и ужина. </h2>
{% endblock %}